body{
    text-size-adjust: 50px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    position: relative;
    margin: auto;
    font-size: 15px;
    line-height: 30px;
    
    text-align: left;
}

.column{
    position: absolute;
    z-index: 1;
    
    background-color: #dddddd;
    /* 
    margin: -3px 2px -3px 2px;
    float: left;
    padding: 5px;
    border-radius: 5px;
    */
    border-radius: 50%;
    font-size: 15px;
    line-height: 13px;
    align-items: center;
    text-align: center;
}